.newsroom {
    /* width: 400px;*/
    border: 1px solid black;
  }

.newsroom li {
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid black;
  }

.newsroom li:hover {
    background-color: dodgerblue;
    cursor: pointer;
  }

.newsroom h3 {
    font-size: 1.1rem;
  }

.newsroom a {
    text-decoration: none;
    color: black;
    display: block;
  }

footer {
    background-color: #e9ecef;
    margin-top: 1rem;

}

.publication {
    border: 1px solid black;
    background-color: rgba(124, 179, 169, 0.479);
}
.publication p:hover{
    border: 1px solid black;
    color: rgb(122, 74, 233);
    background-color: rgba(124, 179, 169, 0.479);
}

.list-group a:hover{
    text-decoration: none;
    background-color: rgba(133, 182, 247, 0.445);
}

/* Dewey color */

.dewey000 {
  background-color: #000000; 
  color:#FFFFFF;
}

.dewey100 {
  background-color: #8B4513;
  color: #FFFFFF;
}

.dewey200{
background-color: #FF0000; 
color: #FFFFFF;
}
.dewey300 { 
  background-color : rgb(226, 115, 25);
  color: #FFFFFF;
}
.dewey400{
  background-color: #FFFF00; 
  color: #000000;
}

.dewey500{
  background-color: #32CD32; 
  color: #FFFFFF;
}

.dewey600{
  background-color: #1E90FF; 
  color: #FFFFFF;
}

.dewey700{
  background-color: #8B008B; 
  color: #FFFFFF;
}

.dewey800{
  background-color: #A9A9A9; 
  color: #FFFFFF;
}

.dewey900{
  background-color: #FFFFFF; 
  color: #000000;
}
