{% extends 'catalog/base.html' %}


{% block content %}
<div class="markdown-body">
<div class="container mb-5 mt-5 ">
 <div class="d-flex justify-content-center m-5">
    <div>
    
    </div>
  </div>
<div id="accordion">
    <div class="card">
        <div class="card-header" id="headingOne">
        <h3 class="mb-0">
            <button class="btn btn-link" style="font-size: 1.3rem;" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            Readme
            </button>
        </h3>
        </div>
        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
        <div class="card-body">
           oanfoisnfispofkr
        </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingTwo">
        <h3 class="mb-0">
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            Changelog
            </button>
        </h3>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
        <div class="card-body">
            {{ local.description_md|safe }}
        </div>
        </div>
    </div>
  </div>
</div>
</div>
{% endblock %}