{% extends 'catalog/base.html' %}

{% block jumbotron %}

{% endblock %}


{% block content %}


<div class="row no-gutters">
    <div class="col-12 col-sm-8">
        {% include 'catalog/jumbotron.html'%}
        <p>Coactique aliquotiens nostri pedites ad eos persequendos scandere clivos sublimes etiam si lapsantibus
            plantis fruticeta prensando vel dumos ad vertices venerint summos, inter arta tamen et invia nullas acies
            explicare permissi nec firmare nisu valido gressus: hoste discursatore rupium abscisa volvente, ruinis
            ponderum inmanium consternuntur, aut ex necessitate ultima fortiter dimicante, superati periculose per prona
            discedunt.</p>

        <p>Novitates autem si spem adferunt, ut tamquam in herbis non fallacibus fructus appareat, non sunt illae quidem
            repudiandae, vetustas tamen suo loco conservanda; maxima est enim vis vetustatis et consuetudinis. Quin in
            ipso equo, cuius modo feci mentionem, si nulla res impediat, nemo est, quin eo, quo consuevit, libentius
            utatur quam intractato et novo. Nec vero in hoc quod est animal, sed in iis etiam quae sunt inanima,
            consuetudo valet, cum locis ipsis delectemur, montuosis etiam et silvestribus, in quibus diutius commorati
            sumus.</p>

        <p>Duplexque isdem diebus acciderat malum, quod et Theophilum insontem atrox interceperat casus, et Serenianus
            dignus exsecratione cunctorum, innoxius, modo non reclamante publico vigore, discessit.</p>

        <p>Quibus occurrere bene pertinax miles explicatis ordinibus parans hastisque feriens scuta qui habitus iram
            pugnantium concitat et dolorem proximos iam gestu terrebat sed eum in certamen alacriter consurgentem
            revocavere ductores rati intempestivum anceps subire certamen cum haut longe muri distarent, quorum tutela
            securitas poterat in solido locari cunctorum.</p>

        <p>Auxerunt haec vulgi sordidioris audaciam, quod cum ingravesceret penuria commeatuum, famis et furoris inpulsu
            Eubuli cuiusdam inter suos clari domum ambitiosam ignibus subditis inflammavit rectoremque ut sibi iudicio
            imperiali addictum calcibus incessens et pugnis conculcans seminecem laniatu miserando discerpsit. post
            cuius lacrimosum interitum in unius exitio quisque imaginem periculi sui considerans documento recenti
            similia formidabat.</p>
    </div>
    <div class="col-12 col-sm-4">
        <h2>Articles</h2>
        {% include "catalog\newsroom-list.html" %}
    </div>
</div>
{% endblock %}