<div class="minh">
{% if publication_object_list %}
{% if publication_count %}
<h2>{{publication_count}} publications.</h2>
{% else %}
<h2>Liste des publications : </h2>
{% endif %}
<div class="publication">
  <table class="table table-sm table-responsive">
    <thead>
      <tr>
        <th scope="col">Publication</th>
        <th scope="col">Date de publication</th>
        <th scope="col">Type</th>
        {% if user.is_staff %}
        <th scope="col">edit</th>
        {% endif %}
      </tr>
    </thead>
    <tbody>
      {% for publication_record in publication_object_list %}
      <tr>
        <td><a href="{{ publication_record.get_absolute_url }}">{{ publication_record.name }}</a><br>{{ publication_record.author }},
          {{ publication_record.author.century_birth }}, {{ publication_record.label_editor }}</td>
        <td>{{ publication_record.date_publication }}</td>
        <td>{{ publication_record.type_publication }}</td>
        {% if user.is_staff %}
        <td><a href="{% url 'publication-update-pk' publication_record.pk %}" class="btn btn-warning btn-sm">edit</a></td>
        {% endif %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% else %}
<h2>Pas de publications</h2>
{% endif %}
</div>