{% extends 'catalog/base.html' %}

{% block content %}
{% block contentactions %}
<nav class="navbar sticky-top dewey{{object.dewey_number.number}}">
    <div class="container">
        <div>
            <a href="{% url 'publication-dewey' object.dewey_number.number %}"
                class="btn btn-danger btn-sm  dewey{{object.dewey_number.number}}">Retour aux {{object.dewey_number}}</a>
            {% if user.is_authenticated %}
            <a href=" {% url 'publication-update-pk' object.pk %}" class="btn btn-warning btn-sm">Editer</a>
            {% endif %}
        </div>
    </div>
</nav>
{% endblock %}

{% block contentdetail %}
<div class="container minh">
    <div class="row">
        <div class="col col-sm-6">
            {% if object.image_url  %}
            <img src="{{object.image_url}}" class="img-fluid">
            {% endif %}
        </div>
        <div class="col col-sm-6">
            <strong>{{ object.name }}</strong><br>
            {% if object.author %}de {{object.author}}{% endif %}, {% if object.author.century_birth %}{{object.author.century_birth}} siècle.{% endif %}<br>
            {% if object.date_publication %}publié le {{object.date_publication}}{% endif %}{% if object.label_editor %}par {{object.label_editor}}{% endif %}.<br>
            {% if object.isbn %}
            ISBN: {{object.isbn}}<br>
            {% endif %}
            {% if object.nb_tracks_pages %}
            Nombre de titres/pages: {{object.nb_tracks_pages}}<br>
            {% endif %}
            {% if object.reference %}
            Référence : {{object.reference}}<br>
            {% endif %}
            {% if object.content %}
            detail : {{object.content}}
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}

{% endblock %}